body{
    background-color: white;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    justify-content: space-between;
    align-content: flex-start;
    color: white;
    background-image: url('imgs/HeartofKYWebLogo.jpg');
    flex-basis: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 400px;
}

nav{
    /* display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; */
    padding: 0rem;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    margin: 0rem 0.5rem;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

header > a{
    order: 1;
    width: 100%;
    
}

nav a {
    text-decoration: none;
    color: white;
}

.logo{
    width: 49%;
    opacity: 0%;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside img{
    border-radius: 10rem;
    margin: 1rem;
}

img[alt="Facebook"]{
    background-color: #1877F2;
}
img[alt="Instagram"]{
    background-color: #FE005c;
}

main{
    display: flex;
    flex-flow: column wrap;
    
}

#inspiration{
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    color: steelblue;
}

h2{
    color: steelblue;
}

#mission p:nth-child(3){
    text-align: center;
    color: steelblue;
}

#mission a{
    color: midnightblue;
}

#funding p:nth-child(5), #funding p:nth-child(8), #funding p:nth-child(9){
    font-weight: bold;
}

h3{
    font-weight: normal;
}

p{
    font-family: "PT Sans";
}