@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=MedievalSharp&family=Rock+Salt&display=swap');

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-runescape {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgb(114, 114, 83);
    font-family: "Caudex";
    display: flex;
    flex-flow: column wrap;
    background-image: url('imgs/parchment-clipart-lg.png');
    background-repeat:space;
    background-position: center center;
    background-size: cover;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('imgs/HeartofKYWebLogo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

h2 {
    font-family: "MedievalSharp";
    font-size: 28px;
}

.logo{
    display: none;
}

nav{
    display: flex;
    top: 0;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-image: linear-gradient(to right,#3B3C36, #002147);
    font-family: "cinzel-runescape";
}

nav a {
    text-decoration: none;
    color: orange;
    
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    margin: 0rem 0.5rem;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

header > h1 {
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 5px 5px black; 
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

aside img{
    border-radius: 10rem;
    margin: 1rem;
}

img[alt="Facebook"]{
    background-color: #1877F2;
    /* margin-top: 450px; */

}
img[alt="Instagram"]{
    background-color: #FE005c;
    /* margin-top: 450px; */
}

main{
    text-align: center;
    margin: 0rem 2vw;
}